<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xatu.easyChat.mapper.FriendsRequestMapper" >
  <resultMap id="BaseResultMap" type="com.xatu.easyChat.entity.FriendsRequest" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="send_user_id" property="sendUserId" jdbcType="VARCHAR" />
    <result column="accept_user_id" property="acceptUserId" jdbcType="VARCHAR" />
    <result column="request_date_time" property="requestDateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, send_user_id, accept_user_id, request_date_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from friends_request
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from friends_request
    where id = #{id,jdbcType=VARCHAR}
  </delete>


<!--  好友请求列表删除好友请求-->
  <delete id="deleteByFriendRequest" parameterType="com.xatu.easyChat.entity.FriendsRequest" >
    delete from friends_request
    where send_user_id = #{sendUserId,jdbcType=VARCHAR} and accept_user_id =#{acceptUserId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.xatu.easyChat.entity.FriendsRequest" >
    insert into friends_request (id, send_user_id, accept_user_id, 
      request_date_time)
    values (#{id,jdbcType=VARCHAR}, #{sendUserId,jdbcType=VARCHAR}, #{acceptUserId,jdbcType=VARCHAR}, 
      #{requestDateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xatu.easyChat.entity.FriendsRequest" >
    insert into friends_request
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sendUserId != null" >
        send_user_id,
      </if>
      <if test="acceptUserId != null" >
        accept_user_id,
      </if>
      <if test="requestDateTime != null" >
        request_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sendUserId != null" >
        #{sendUserId,jdbcType=VARCHAR},
      </if>
      <if test="acceptUserId != null" >
        #{acceptUserId,jdbcType=VARCHAR},
      </if>
      <if test="requestDateTime != null" >
        #{requestDateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xatu.easyChat.entity.FriendsRequest" >
    update friends_request
    <set >
      <if test="sendUserId != null" >
        send_user_id = #{sendUserId,jdbcType=VARCHAR},
      </if>
      <if test="acceptUserId != null" >
        accept_user_id = #{acceptUserId,jdbcType=VARCHAR},
      </if>
      <if test="requestDateTime != null" >
        request_date_time = #{requestDateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xatu.easyChat.entity.FriendsRequest" >
    update friends_request
    set send_user_id = #{sendUserId,jdbcType=VARCHAR},
      accept_user_id = #{acceptUserId,jdbcType=VARCHAR},
      request_date_time = #{requestDateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>